= render "/layouts/header"
.container
  .top-page
    .top-page__intro
      .title
        %h1
          Knowledge_Trading
        %h2
          %p
            あなたの「知識」が誰かの「知らない」を無くす。
          %p
            些細だと思っているあなたの知識が誰かを救うかも。
  
  .top-page__main
    .head
      %h2
        Knowledge_Tradingとは？
    .contents
      %ul.lists
        %li.list
          .list__icon
            %i.fas.fa-shopping-cart
          %h3.list__text
            知りたい知識が買える
          %p.list__description
            欲しい知識を検索してすぐ購入出来る

        %li.list
          .list__icon
            %i.fas.fa-comments-dollar
          %h3.list__text
            自分の知識を売れる
          %p.list__description
            眠っている自分の知識に値段をつけよう

        %li.list
          .list__icon
            %i.far.fa-credit-card
          %h3.list__text
            お支払いはカードで簡単
          %p.list__description
            クレジットカードを登録して簡単お支払い
  .products.row
    %p
      こんな記事が購入されています
    - @products.each do |product|
      .col-xs-6.col-md-3
        = link_to product_path(product.id), class:"product-link" do
          .box
            .thumbnail
              = image_tag product.thumbnail,class:"product-image"
            .product-title
              = product.name
            .info
              %span.name
                = product.nickname
              %span.date
                = product.created_at.strftime("%Y年%m月%d日")
            .explanation
              = product.explanation
            .price
              = "#{product.price}円"
  
  %p.products-link
    = link_to products_path, class:"product-link" do
      %span
        >>他の商品記事を見てみる



= render "/layouts/footer"