= render "/layouts/header"

.container
  .search
    = form_tag(search_products_path, :method => "get") do
      = text_field_tag :keyword, '',class:"search_field",placeholder:"気になるキーワードを検索"
      = submit_tag "検索",class:"search_button"
  %span.title
    記事一覧
  .products
    - @products.each do |product|
      .col-xs-6.col-md-3
        = link_to product_path(product.id), class:"product-link" do
          .box
            .thumbnail
              = image_tag product.thumbnail,class:"product-image"
            .product-title
              = product.name
            .info
              %span.name
                = product.nickname
              %span.date
                = product.created_at.strftime("%Y年%m月%d日")
            .explanation
              = product.explanation
            .price
              = "#{product.price}円"
  
= render "/layouts/footer"
