= render "/layouts/header"



.product.container
  %span.title
    生き物
  .row
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag @product.thumbnail,class:"product-image"
        .product-title
          = @product.name
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          = @product.explanation
        .tag
          動物　環境　ペット
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
  %span.title
    生き物
  .row
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
  %span.title
    生き物
  .row
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット
    .col-xs-6.col-md-4
      .box
        .thumbnail
          = image_tag "test_image.jpg",class:"product-image"
        .product-title
          カワウソが絶滅危惧種に認定される。今後、国内繁殖のみの販売に限定
        .info
          %span.name
            わたる
          %span.date
            2020/06/04
        .explanation
          癒される存在として知られる「カワウソ」そんなカワウソの生態系が脅かされているのである 
        .tag
          動物　環境　ペット

= render "/layouts/footer"
