= render "/layouts/header"



%h2.text-center
  商品記事の投稿
.container
  = simple_form_for @product do |f|
    = f.input :name, label: '商品記事名'
    -# = f.input :explanation, label: '記事内容', placeholder: '無料で見られる内容を入力してください'
    %p.sub-title
      記事内容（無料記事）
    = f.text_area :explanation,{"data-uk-htmleditor" => "{markdown:true}",placeholder: "無料で見られる内容を入力をしてください",class: 'uploadable'}
    %p.sub-title
      記事内容（有料記事）
    = f.text_area :description, class: "uploadable"
    = f.input :tag_list, label: 'タグ', value: @product.tag_list.join(',')
    = f.input :price, label: '価格'
    .new-button
      = f.button :button,{name:'submit',value: '1',class: 'btn btn-primary'} do
        投稿する

= render "/layouts/footer"
