= render "/layouts/header"

.container
  .title
    %h1
      = @product.name
  .main-content
    .description
      %p
        = simple_format @product.description
    .explanation
      %p
        = simple_format @product.description

= render "/layouts/footer"
