= render "/layouts/header"

.container
  .product
    .product-top
      .product-title
        .date
          = link_to "/" do 
            2020/06/30
        .thumbnail
          = image_tag @product.thumbnail
        %h1.main-title
          = @product.name
        %span.tag
          - @product.tag_list.each do |tag|
            %span.badge= tag


    - if @current_user_record.include?(@product.id)
      .main-content
        .explanation
          = markdown(@product.explanation)
      
        .description
          = markdown(@product.description)
    - else
      .main-content
        .explanation
          = markdown(@product.explanation)
        .purchase-guide
          %p.next
            続きは購入後、ご覧頂けます   
          .button
            = link_to product_add_to_baskets_path(@product), method: :post do
              %button.btn.btn-primary.btn-lg{:type => "button"} 買い物かごに追加する 



= render "/layouts/footer"
