= render "/layouts/header"

.container
  .title
    %h1
      = @product.name
  .main-content
    .description
      = simple_format @product.description
    .explanation
      = markdown(@product.explanation)

= render "/layouts/footer"
